<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Convert Machine</title>
    <script src="../node_modules/angular/angular.min.js"></script>
    <script src="../node_modules/angular-aria/angular-aria.min.js"></script>
    <script src="../node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="../node_modules/angular-material/angular-material.min.js"></script>
    <script src="../node_modules/angular-resource/angular-resource.min.js"></script>
    <script src="../node_modules/angular-route/angular-route.min.js"></script>
    <script src="../node_modules/angular-material-data-table/dist/md-data-table.min.js"></script>
    <script src="../node_modules/socket.io-client/dist/socket.io.min.js"></script>
    <script src="client/lib/quill.core.js"></script>
    <script src="client/lib/quill.js"></script>
    <script src="client/main.js"></script>
    <script src="client/downloadDirective.js"></script>

    <link rel="stylesheet" href="../node_modules/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="../node_modules/angular-material-data-table/dist/md-data-table.min.css">
    <link href="client/lib/quill.core.css" rel="stylesheet">
    <link href="client/lib/quill.snow.css" rel="stylesheet">
    <link rel="stylesheet" href="client/main.css">
    <link href="https://fonts.googleapis.com/css?family=Sansita" rel="stylesheet">
</head>
<body ng-app="RTCM_app">
<div ng-controller="MainCtrl" class="md-padding" id="main_ctrl">
    <h1 id="app-title">Text Convert Machine</h1>

    <md-card>

        <md-toolbar class="md-table-toolbar md-default">
            <div class="md-toolbar-tools">
                <h2>Conversions</h2>
                <md-button class="md-fab" aria-label="Create file" ng-click="createFile($event)">
                    <md-icon md-svg-src="client/img/ic_note_add_black_24px.svg"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-table-container>
            <table md-table md-row-select="false" multiple="false" ng-model="selected"
                   md-progress="promise">
                <thead md-head md-order="query.order">
                <tr md-row>
                    <th md-column md-order-by="name"><span>Name</span></th>
                    <th md-column md-order-by="createdDate"><span>Created at</span></th>
                    <th md-column md-order-by="htmlExport"><span>As HTML</span></th>
                    <th md-column md-order-by="pdfExport"><span>As PDF</span></th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row md-select="file" md-on-select="logItem" md-auto-select="false"
                    ng-repeat="file in files | filter: filter.search | orderBy: query.order
                    | limitTo: query.limit : (query.page -1) * query.limit">
                    <td md-cell>{{file.name}}</td>
                    <td md-cell>{{file.createdDate | date : 'medium'}}</td>
                    <td md-cell>
                        <md-button ng-show="file.htmlExport != 'in_progress'"
                                   ng-click="actionForFile(file, 'html')">
                            <download-file ng-show="file.htmlExport == 'Done'"
                                           id="file._id" name="file.name" type="'html'">
                            </download-file>
                            <span ng-show="file.htmlExport != 'Done'">
                                Convert
                            </span>
                        </md-button>
                        <span ng-show="file.htmlExport == 'in_progress'">
                            <img src="client/img/loading.gif" alt="In progress" width="120px" height="15px">
                        </span>
                    </td>
                    <td md-cell>
                        <md-button ng-show="file.pdfExport != 'in_progress'"
                                   ng-click="actionForFile(file, 'pdf')" >
                            <download-file ng-show="file.pdfExport == 'Done'"
                                           id="file._id" name="file.name" type="'pdf'">
                            </download-file>
                            <span ng-show="file.pdfExport != 'Done'">
                                Convert
                            </span>
                        </md-button>
                        <span ng-show="file.pdfExport == 'in_progress'">
                            <img src="client/img/loading.gif" alt="In progress" width="120px" height="15px">
                        </span>
                    </td>
                    <td md-cell>
                        <md-button>
                            <md-icon md-svg-src="client/img/ic_close_black_24px.svg" aria-label="Delete"
                                     ng-click="deleteFile(file)">
                            </md-icon>
                        </md-button>
                    </td>
                </tr>
                </tbody>
            </table>
        </md-table-container>

        <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page"
                             md-total="{{files.length}}" md-page-select="options.pageSelect"
                             md-boundary-links="options.boundaryLinks"
                             md-on-paginate="logPagination">
        </md-table-pagination>
    </md-card>

</div>
</body>
</html>