<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Convert Machine</title>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-material/angular-material.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="bower_components/quill/quill.js"></script>

    <script src="main.js"></script>

    <link rel="stylesheet" href="main.css">
</head>
<body ng-app="RTCM_app">
<div ng-controller="MainCtrl">
    <h1>Text Convert Machine</h1>

    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <h2>Conversions</h2>
        <md-button class="md-fab" aria-label="Create file" ng-click="createFile($event)">
            <md-icon md-svg-src="img/ic_note_add_black_24px.svg"></md-icon>
        </md-button>
    </section>

    <div ng-cloak layout-gt-sm="row" layout="column">

        <div flex-gt-sm="50" flex>

            <md-toolbar layout="row" class="md-hue-3">
                <div class="md-toolbar-tools">
                    <span>Normal</span>
                </div>
            </md-toolbar>

            <md-content>
                <md-list flex>
                    <md-subheader class="md-no-sticky">Conversions</md-subheader>
                    <md-list-item class="md-1-line" ng-repeat="file in files">
                        <div class="md-list-item-text" layout="column">
                            <p>{{ file.name }}</p>
                        </div>
                    </md-list-item>
                </md-list>
            </md-content>
        </div>
    </div>

</div>
</body>
</html>